extends default.pug

block css
    style
        include ../public/css/category.css
        include ../public/css/header.css
        include ../public/css/fonts.css
        include ../public/css/searchzone.css
block content
    div.searchzone
        .row
            .col-6
                h2 #{category}
            .col-6
                a(href='/listing/new')
                    button.createbutton.btn.btn-light.btn-xs(type='submit') + Create listing
        .row
            .col-3
                a(href = '/')
                    button.backbutton(type = 'submit') Back
            .col-5
                form(id = 'search', method = 'GET', action = "/search", autocomplete='off')
                    input(type='hidden', name = 'category', value = categoryID, autocomplete="off")
                    input(type='hidden', name = 'user', value = user, autocomplete="off")
                    input#searchbar(type='text', name = 'input', placeholder= "I am looking for...", list='datalist', autocomplete="off")
                    datalist#datalist
            .col-4
                button.searchbutton(type='submit' form = 'search') Search

    div.listingszone
        each listing in listings
            div.listing
                a.photo(href = `/listing/view/${listing._id}`)
                    img.listingphoto(src=listing.photo alt=listing.title)
                a.title(href = `/listing/view/${listing._id}`)
                    p.listingtitle #{listing.title}
                p.listinglocation #{listing.location}
                p.listingprice $#{listing.price} #{listing.interval}
                p.listingdescription #{listing.description}

    script.
        document.getElementById("searchbar").addEventListener('keyup', () => {
            autocomplete(document.getElementById("searchbar").value);
        });

        function autocomplete(value) {
            if (value == "") {
                document.getElementById("datalist").innerHTML = "";
                return;
            }
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    document.getElementById("datalist").innerHTML = "";
                    for (var i = 0; i < result.length; i++) {
                        var node = document.createElement("option");
                        var val = document.createTextNode(result[i].title);
                        node.appendChild(val);
                        document.getElementById("datalist").appendChild(node);
                    }
                }
            };
            if("#{category}" == "My Listings") {
                xhttp.open("GET", "/search/userlist/" + value + "/" + "#{user}", true);
            } else if ("#{category}" == "Search Results") {
                xhttp.open("GET", "/search/list/" + value, true);
            } else {
                xhttp.open("GET", "/search/categorylist/" + value + "/" + "#{categoryID}", true);
            }
            xhttp.send();
        }