extends default.pug

block css
    style
        include ../public/css/category.css

block user
    a(href = '/signup')
        button.signupbutton(type='submit') Sign up
    a(href = '/loginpage')
        button.loginbutton(type='submit') Log In

block content

    div.titlezone
        <!--a.back(href=`/homepage`)
            button.backbutton(type='submit') Back-->
        h2 #{category}

    div.listingszone
        each listing in listings
            div.listing
                a.photo(href = `/listing/id/${listing.id}`)
                    img.listingphoto(src=listing.photo alt=listing.title)
                a.title(href = `/listing/id/${listing.id}`)
                    p.listingtitle #{listing.title}
                p.listinglocation #{listing.location}
                p.listingprice $#{listing.price} #{listing.interval}
                p.listingdescription #{listing.description}
