extends default.pug

block css
    style
        include ../public/css/category.css
        include ../public/css/header.css

block content
    div.titlezone
        .row
            .col-4
                a(href = '/')
                    button.backbutton(type = 'submit') Back
            .col-4
                h2 #{category}
            .col-4
                a(href='./listing/new')
                    button.createbutton.btn.btn-light(type='submit') + Create listing
        .row
            .col-8
                input(type='text', placeholder='   I am looking for...', name='search')
            .col-4
                a(href="/search")
                    button.searchbutton.btn.btn-light(type='submit', value = 'Submit') Search
                    i.fa.fa-search
    div.listingszone
        each listing in listings
            div.listing
                a.photo(href = `/listing/view/${listing._id}`)
                    img.listingphoto(src=listing.photo alt=listing.title)
                a.title(href = `/listing/view/${listing._id}`)
                    p.listingtitle #{listing.title}
                p.listinglocation #{listing.location}
                p.listingprice $#{listing.price} #{listing.interval}
                p.listingdescription #{listing.description}
