extends default.pug

block css
    style
        include ../public/css/category.css

block user
    div.headerzone
        a(href = '/signup')
            div.btn.from-middle Sign Up
        a(href = '/loginpage')
            div.btn.from-middle Log In

block content
    div.titlezone
        //a(href = './homepage')
            //button.backbutton(type = 'submit') Back
        h2 #{category}

    div.listingszone
        each listing in listings
            div.listing
                a.photo(href = `/listing/id/${listing.id}`)
                    img.listingphoto(src=listing.photo alt=listing.title)
                a.title(href = `/listing/id/${listing.id}`)
                    p.listingtitle #{listing.title}
                p.listinglocation #{listing.location}
                p.listingprice $#{listing.price} #{listing.interval}
                p.listingdescription #{listing.description}

