extends default.pug

block css
    style
        include ../public/css/homepage.css

block content
    div.container-fluid.searchzone
        if(session)
            spantitle Let's Peddle
        else
            spantitle Let's Peddle

        a(href='./newlisting')
            button.createbutton.btn.btn-light(type='submit') + Create listing
        input(type='text', placeholder='   I am looking for...', name='search')
        a(href="/search")
            button.searchbutton.btn.btn-light(type='submit', value = 'Submit') Search
            i.fa.fa-search

    h3 Featured Categories:

    div.scrollmenu.categoryzone
        each category in categories
            div.category.item
                a(href = `./listing/category/${category._id}`)
                    img.categoryphoto(src=category.photo alt=category.title)
                    p.categorytitle #{category.title}


    h3 Latest Listings:

    div.latestlistingszone

            each listing in listings
                .card(style='width: 15rem; height: 25rem;')
                    .d-flex
                        a(href = `./listing/id/${listing._id}`)
                            img.card-img-top.image-custom(src=listing.photo)
                            .card-body.flex-fill
                                h5.card-title #{listing.title}
                                p.card-text.listingprice $#{listing.price} #{listing.interval}
                                p.listingdescription #{listing.description}


    script.
        function respFunction() {
            var x = document.getElementById("topNav");
            if (x.className === "header") {
                x.className += " responsive";
            } else {
                x.className = "header";
            }
        }

        function getlistings () {
            listings.collection.find({ '_id': 10 }).sort({_id: -1}).limit(10, function (e, d) {})

        }
