extends default.pug
block css
    style
        include ../public/css/homepage.css

block user
    a(href = './signup')
        div.btn.from-middle Sign Up
    a(href = './loginpage')
        div.btn.from-middle Log In

block content

    //form.searchbar(action='SEARCHRESULTS')
    div.searchzone
        h2 Let's Peddle
        a(href='./createlisting')
            button.createbutton(type='submit') + Create listing
        input(type='text', placeholder='   I am looking for...', name='search')
        a(href="/search")
            button.searchbutton(type='submit') Search
            i.fa.fa-search

    h3 Categories:

    div.categoryzone.menu-wrapper.menu
        each category in categories
            div.category.item
                a(href = `./listing/category/${category._id}`)
                    img.categoryphoto(src=category.photo alt=category.title)
                p.categorytitle #{category.title}
        //div.paddles
        //button(id = 'leftPaddle', onclick = 'scrollleft()').left-paddle.paddle.hidden
        //    | <
        //button(id = 'rightPaddle', onclick = 'scrollright()').right-paddle.paddle
        //    | >

    h3 Latest Listings:

    div.latestlistingszone
        each listing in listings
            div.listing.dropup
                a(href = `./listing/id/${listing.id}`)
                    img.listingphoto(src=listing.photo alt=listing.title)
                    p.listingtitle #{listing.title}
                    div.dropup-content
                        p.listingdescription #{listing.description}

                    p.listingprice $#{listing.price} #{listing.interval}
                        div.dropup-content
                            p.listingdescription #{listing.description}

