extends default.pug
block css
    style
        include ../public/css/fonts.css
        include ../public/css/listing.css
        include ../public/css/header.css
        include ../public/css/searchzone.css


block content
    script(type='text/javascript', src='//platform-api.sharethis.com/js/sharethis.js#property=5cef51d30180a500128311f3&product=sticky-share-buttons', async='async')
        meta(property='og:title', content="Let's Peddle")
        meta(property='og:description', content="Be apart of the neighbourhood!")
        meta(property='og:site_name', content='Peddlr')

    div.searchzone
        .row

            .col-6
                h2 #{category}
            .col-6
                a(href='./newlisting')
                    button.createbutton.btn.btn-light.btn-xs(type='submit') + Create listing
        .row
            .col-3
                .dropdown.show
                    button#dropdownMenuLink.btn.dropdown-toggle(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.glyphicon.glyphicon-th-list
                    .dropdown-menu
                        for category in categories
                            a.dropdown-item(href=`/listing/category/${category._id}`) #{category.title}
            .col-5
                input(type='text', placeholder='   I am looking for...', name='search')
            .col-4
                a(href="/search")
                    button.searchbutton.btn.btn-light(type='submit', value = 'Submit') Search

    .row.breadzone
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/homepage')
                        p Home
                li.breadcrumb-item
                    a(href=`/listing/category/${listing.category}`)
                        each category in categories
                            if (category._id.equals(listing.category))
                                p #{category.title}
                li.breadcrumb-item.active(aria-current='page') #{listing.title}

    .jumbotron.listingzone
        .row
            .col-9
                h2.title #{listing.title}
            .col-3
                a(href = './ bookmark')
                    button.btn.btn-light(type = 'submit') Bookmark

                if (owner._id.equals(user._id))
                    div.deleteBox
                        a(href = './deleteListing')
                            button.btn.btn-light#deleteListing Delete

        .row
            .col-9
                .row.imagebox
                    img.listingphoto(src=listing.photo alt=listing.title)
                .row.descriptionbox
                    p.details(style = "font-weight: bold") Description:
                .row
                    p.description #{listing.description}


            .col-3
                ul.list-group
                    li.list-group-item
                        p.details(style = "font-weight: bold") Location:
                            p.details
                                | #{owner.address.substring(owner.address.indexOf(",") + 1, owner.address.indexOf(",") + 5)},
                                | #{owner.address.substring(owner.address.indexOf(",") + 12)}
                    li.list-group-item
                        p.details(style = "font-weight: bold") Owner:
                            p.details
                                | #{owner.fname.substring(owner.fname)}
                                | #{owner.lname.substring(owner.lname)}
                    li.list-group-item
                        p.details(style = "font-weight: bold") Contact:
                            p.details
                               // | #{owner.phoneNumber.count(owner.phoneNumber)}
                    li.list-group-item
                        p.details(style = "font-weight: bold") Email:
                            p.details
                                | #{owner.email.substring(owner.email)}


        script.
            var deletemodal = document.getElementById("confirmationModal");
            var deletebtn = document.getElementById("deleteListing");
            var cancelDeletebtn = document.getElementById("cancelDelete");

            var editbtn = document.getElementById("editListing");
            var editmodal = document.getElementById("editModal");
            var cancelEditbtn = document.getElementById("cancelEdit");

            deletebtn.onclick = function () {
                deletemodal.style.display = "block";
            }

            window.onclick = function () {
                if (event.target == deletemodal || event.target == editmodal) {
                    deletemodal.style.display = "none";
                    editmodal.style.display = "none";
                }
            }

            cancelDeletebtn.onclick = function () {
                deletemodal.style.display = "none";
            }

            editbtn.onclick = function () {
                editmodal.style.display = "block";
            }

            cancelEditbtn.onclick = function () {
                editmodal.style.display = "none";
            }
