extends default.pug

block css
    style
        include ../public/css/settings.css
        include ../public/css/header.css
        include ../public/css/fonts.css

block content
    .jumbotron.settingszone
        .row
            .col-3.vertical-menu
                h2.display-4 Settings
                a.active(href='#') General
                a(href='/settings/security') Security and Login
                a(href='/settings/delete') Delete Account

            .col-9
                .row
                    h2 Personal details
                hr
                form(method='POST' action='/settings/general/update')
                    .row
                        h5 Name
                    .row
                        p Your Name
                    .row
                        div.form-group
                            .row
                                p First name
                                input(type='text', name='fname', value=user.fname)
                            .row
                                p Last name
                                input(type='text', name='lname', value=user.lname)

                    .row
                        h5 Email
                    .row
                        div.form-group
                            .row
                                p Email Address
                                input(type='email', name='email', value=user.email)
                    .row
                        h5 Address
                    .row
                        div.form-group
                            .row
                                p Home Address
                                input#address(type='text', placeholder='Address' name='address',
                                 pattern="[a-zA-Z0-9 ]+", title="Only alphanumeric characters",
                                  value=user.address.split("|")[0])

                                select#state(type='text', placeholder='State' name='state', value=user.address.split("|")[1])
                                    option NSW
                                    option QLD
                                    option SA
                                    option TAS
                                    option VIC
                                    option WA
                                input#zip(type='text', placeholder='Zip Code' name='zip', maxlength='4', value=user.address.split("|")[2])
                                select#country(type='text', placeholder='Country' name='country', value=user.address.split("|")[3])
                                    option Australia
                    .row
                        button#submit.pagebutton(type='submit', onClick = "successMsg()" ) Update

                    script.
                        function successMsg() {
                            alert("Update Successful");
                        }
